streamlit==1.54.0
PyMuPDF==1.26.7
opencv-python-headless>=4.9.0.80
numpy<2.0.0
Markdown==3.10.1
pillow==12.1.0
google-genai==1.62.0
doclayout_yolo==0.0.4
python-dotenv==1.2.1
tqdm==4.67.3
torch
torchvision
ultralytics
huggingface-hub==1.4.0
st-gsheets-connection==0.1.0

